<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AdobeToolhintsCS6-2.0</string>
		<string>AdobeColorCommonSetCMYK-4.0</string>
		<string>AdobeCMapsCS6-4.0</string>
		<string>IdeasPluginforAICS6-1.0</string>
		<string>AdobeAPE3.3_Mac_NoLocale</string>
		<string>PDFSettings-10.0</string>
		<string>PDFSettings-11.0</string>
		<string>AdobeHunspellLinguisticsPluginCS6-1.0</string>
		<string>CameraProfilesInstaller-7.0</string>
		<string>AdobeColorVideoProfilesCSCS6-4.0</string>
		<string>AdobeIllustrator16-mul</string>
		<string>AdobePhotoshopCS6-13.0</string>
		<string>PDFSettings-11.0</string>
		<string>AdobeInDesignCS6CommonLanguageFilesja_JP-8.0</string>
		<string>AdobeESTKCS6-3.8.0</string>
		<string>AdobePhotoshopCS6JapaneseLanguagePack-13.0</string>
		<string>AdobeDynamicLinkMediaServer-1.0</string>
		<string>AdobeTypeSupportCS6-11.0</string>
		<string>AdobeColorCommonSetRGB-4.0</string>
		<string>AdobePhotoshopCS6EnglishLanguagePack-13.0</string>
		<string>AdobeDigitalPublishingCS6-2.0</string>
		<string>AdobeInDesignCS6ApplicationLanguageFilesen_US-8.0</string>
		<string>AdobeColorEUExtraSettingsCS6-4.0</string>
		<string>AdobeIllustrator16-enUS</string>
		<string>AdobeColorJAExtraSettingsCS6-4.0</string>
		<string>AdobeIllustrator16-jaJP</string>
		<string>AdobeWinSoftLinguisticsPluginCS6-1.3</string>
		<string>AdobePhotoshopCS6Support-13.0</string>
		<string>AdobeMiniBridgeCS6-2</string>
		<string>AdobeSwitchBoard2.0-2.0</string>
		<string>AdobeInDesignCS6ApplicationFeatureSetFilesJapan-8.0</string>
		<string>AdobeInDesignCS6CommonLanguageFilesen_US-8.0</string>
		<string>AdobeDynamiclinkSupport-6</string>
		<string>AdobeInDesignCS6ApplicationLanguageFilesja_JP-8.0</string>
		<string>AdobeInDesignCS6ApplicationLanguageFilesen_GB-8.0</string>
		<string>AdobeInDesignCS6ApplicationFeatureSetFilesRoman-8.0</string>
		<string>AdobeFontsRecommended-2.0</string>
		<string>AcrobatXPro-10.0</string>
		<string>AdobeFontsRequired-2.0</string>
		<string>AdobeColorNAExtraSettingsCS6-4.0</string>
		<string>PhotoshopCameraRaw7-7.0</string>
		<string>AdobeIllustratorCS6Support-16.0</string>
		<string>PDFSettings-10.0</string>
		<string>AdobePDFLibraryFilesCS6-10.9</string>
		<string>AcrobatXPro-10.0</string>
		<string>AdobeUtilitiesCS6-4.0</string>
		<string>AdobeColorEURecommendedSettingsCS6-4.0</string>
		<string>AdobeBridgeCS6-5.0</string>
		<string>AdobeInDesignCS6CommonBaseFiles-8.0</string>
		<string>AdobeColorNARecommendedSettingsCS6-4.0</string>
		<string>AdobeIllustrator16-enGB</string>
		<string>AdobeColorJARecommendedSettingsCS6-4.0</string>
		<string>AdobeInDesignCS6-8.0</string>
		<string>AdobeExtensionManagerCS6-6.0</string>
		<string>AdobeInDesignCS6ApplicationBaseFiles2-8.0</string>
		<string>CSTI_CS6-3.0</string>
		<string>AdobeInDesignCS6CommonLanguageFilesen_GB-8.0</string>
		<string>AdobeCSXSExtensionsCS6-3</string>
		<string>AdobeCSXSInfrastructureCS6-3</string>
		<string>AdobeNPSPanel1.0-1.0.0</string>
		<string>AdobePhotoshopCS6InternationalEnglishLanguagePack-13.0</string>
		<string>LocalizationIdeasPluginCS6-1.0</string>
		<string>AdobeLinguisticsCS6-6.0.0</string>
		<string>AcrobatXPro-10.0</string>
		<string>AdobeColor-PhotoshopSpecificCS6-4.0</string>
		<string>AdobeMediaEncoderCS6-6</string>
		<string>AdobeXMPPanels-4.0</string>
	</array>
	<key>munki_update_for</key>
	<string>AdobeCS6</string>
	<key>munki_repo_destination_path</key>
	<string>apps/Adobe/CS6/Updates</string>
</dict>
</plist>
